@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-size: 100%;
  background-color: var(--background);
  line-height: 1.9em;
}
/* variables */
:root{
  --primary: #676d79;
  --secondary: #e7746f;
  --background: #fff;
}
/*end*/
/* utilities*/
h2{font-size: 200%;}
h3{font-size: 140%;}
p{font-size: 120%;}
h2, h3, h4, #sbmt, .cad-icon, .cad-text{margin-top: .7em; margin-bottom: .7em;}
/*end of utilities*/
#wrapper{
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
/*----------------------------------------------------------------------*/
/* menu section */
#menu-bar{
  width: 30%;
  height: 100vh;
  position: fixed;
  background-color: var(--primary);
  float: left;
}
#model-info{
  width: 100%;
  height: 20vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#model-face{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#model-face img{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#model-face, #model-title, #socials-holder, #landing-content, #model-details-content, .services-cards-content, #contact-content-one, .contact{
  align-self: center;
  justify-self: center;
}
#about-section h2::after, #resume-section h2::after, #portfolio-section h2::after, #services-section h2::after, #contact-section h2::after{
  content: '';
  height: 2px;
  width: 60%;
  background-color: var(--secondary);
  position: absolute;
  bottom: 0;
  left: calc(50% - 30%);
}
#menu-info{
  width: 100%;
  height: 70vh;
}
a.menu-link{
  display: block;
  width: 100%;
  height: 9vh;
  line-height: 9vh;
  text-decoration: none;
  color: 000;
  margin-top: .5vh;
  margin-bottom: .5vh;
  background-color: gray;
  border: 1px solid gray;
  border-radius: 24px;
}
a.menu-link:hover{
  color: var(--secondary);
  background-color: #191919;
  border-radius: 24px;
}
li.nav-icon, li.nav-link{
  width: 50%;
  height: inherit;
  list-style-type: none;
  text-align: center;
}
li.nav-icon{
  float: left;
}
li.nav-link{
  float: right;
  font-size: 100%;
  font-weight: bolder;
}
#socials{
  width: 100%;
  height: 10vh;
  display: grid;
}
.social-icons{
  /*border: 2px solid black;*/
  border-radius: 50%;
  padding: 1em;
  margin: 5px;
}
#socials-holder .fab, #socials-holder .fas{font-size: 120%; color: black;}
#socials-holder .fab:hover, #socials-holder .fas:hover{
  color: var(--secondary);
}
/* end of menu section */
/*----------------------------------------------------------------------*/
#content-bar{
  width: 70%;
  height: auto;
  background-color: var(--background);
  float: right;
}
/* LANDING PAGE */
#home-section{
  width: 100%;
  height: 100vh;
  background-image: url('images/landing-bg.jpg');
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  display: grid;
  color: #fff;
}
span.color-highlight{color: var(--secondary);}
.btn{
  text-decoration: none;
  color: #fff;
  padding: 1em 2em;
  border: 2px solid black;
  border-radius: 24px;
  text-transform: uppercase;
  font-size: 80%;
}
.btn:hover{
  box-shadow: 5px 5px 10px black;
}
.button, #sbmt{
  background-color: var(--secondary);
  color: black;
}
/* END OF LANDING PAGE */
/*----------------------------------------------------------------------*/
/* About section */
#about-section, #resume-section, #portfolio-section, #services-section, #contact-section, #process-section{
  width: 100%;
  text-align: center;
}
#about-section h2, #resume-section h2, #portfolio-section h2, #services-section h2, #contact-section h2, #process-section h2{
  position: relative;
  display: inline-block;
}
#about-content, #resume-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(40vh, auto);
}
#model-img img, .portfolio-img img{
  width: 100%;
  max-width: 100%;
}
#model-details, #portfolio-content, #services-content, .services-cards,
.services-cards-content h4, #contact-content-one, #contact-form-address,
#theForm
{display: grid;}
/* end of about section */
/*----------------------------------------------------------------------*/
/* resume section */
.resume-cards, .services-cards{
  background-color: #191919;
  color: #fff;
  text-align: left;
  padding: 2em;
}
p.large-text{font-size: 160%;}
/* end of resume section */
/*----------------------------------------------------------------------*/
/* portfolio section */
.portfolio-cards{
  /*border: 1px solid black;*/
  grid-auto-rows: minmax(30vh, auto);
}
.portfolio-img{width: 100%; }
.portfolio-img img:hover,
.services-cards:hover{opacity: .7;}
#p-card-one{grid-column: 1; grid-row: 1/2;}
#p-card-two{grid-column: 1; grid-row: 2/3;}
#p-card-three{grid-column: 2; grid-row: 1/3;}
#p-card-four{grid-column: 3; grid-row: 1/2;}
#p-card-five{grid-column: 3; grid-row: 2/3;}
/* end of resume section */
/*----------------------------------------------------------------------*/
/* services section */
#services-content{
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(40vh, auto);
}
.services-cards{
  text-align: center;
}
ion-icon{
  font-size: 3em;
  color: var(--secondary);
}
.services-cards-content h4{
  position: relative;
}
.services-cards-content h4::after{
  content: '';
  height: 1px;
  width: 30%;
  background-color: var(--secondary);
  position: absolute;
  bottom: 0;
  left: calc(50% - 15%);
}
/* end of services section */
/*----------------------------------------------------------------------*/
/* contact section */
#contact-content-one{
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(20vh, auto);
  background-color: #000;
  padding: 1.5em;
}
.contact{
  text-align: center;
  color: #fff;
}
.contact ion-icon{
  padding: .3em;
  border: 1px solid #191919;
  border-radius: 50%;
  background-color: #191919;
}
.contact ion-icon:hover{cursor: pointer;}
#contact-form-address{
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
}
#contact-form, #contact-address{padding: 3em;}
form #theForm{
  grid-template-columns: repeat(1, 1fr);
  width: 100%; 
  grid-gap: 1em;
}
.row{
  text-align: left;
}
#theForm label{
  display: block;
  font-size: 90%;
  font-weight: bold;
}
#theForm input, .row textarea{
  border: 1px solid #191919; 
  padding: 1em;
  border-radius: 24px;
}
.row, .row label, .row input, .row textarea{ 
  width: 100%;
}
#sbmt:hover{cursor: pointer;}
#contact-address-details{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.locate-icon{
  font-size: 1.5em;
  color: var(--secondary);
}
.cad-text{text-align: left;}
/* end of contact section */
/*----------------------------------------------------------------------*/
/* footer section */
#footer-section{
  width: 100%;
  height: 10vh;
  line-height: 10vh;
  background-color: #191919;
  color: #fff;
  text-align: center;
}
/* end of contact section */
/*----------------------------------------------------------------------*/
/* scroll highlight section */
#about-section:hover #menu-link-two{
  color: var(--secondary);
  background-color: black;
}
/* end of scroll highlight section */
